.project
/casparcg-client
/casparcg-server
/temp
/config/media/Videos
/config/media/einmalBenutzung
/config/template/casparcg-templates-examples-master
/config/template/Test_BB
/config/FRITZ.BoxExportPassword.txt
/config/FRITZ.Box*.export
/dDImageViewer/NDIDDImageViewer.exe
/dDImageViewer/Processing.NDI.Lib.x64.dll
/help/BirdDog_P100_User-Guide_NDI-5-1.pdf
/help/PKC3000UserManual-220226zuNeu.pdf
/help/PKC3000UserManual.pdf
/script/rdpChaudio.bat
/script/rdpChpresentation.bat
/script/rdpChzoom.bat
/script/setVars4Connection.bat
/script/videoMonitor/node_modules
/script/youtube-dl.exe
/script/yt-dlp.exe
