.project
/casparcg-client
/casparcg-server
/temp
/config/media/Videos
/config/template/casparcg-templates-examples-master
/config/template/Test_BB
/config/FRITZ.Box*.export
/help/BirdDog_P100_User-Guide_NDI-5-1.pdf
/help/PKC3000UserManual-220226zuNeu.pdf
/help/PKC3000UserManual.pdf
