<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <paths>
        <media-path>/comingHome/videotechnik/config/media/</media-path>
        <log-path>/comingHome/videotechnik/config/log/</log-path>
        <data-path>/comingHome/videotechnik/config/data/</data-path>
        <template-path>/comingHome/videotechnik/config/template/</template-path>
    </paths>
    <lock-clear-phrase>secret</lock-clear-phrase>
    <channels>
        <channel>
            <video-mode>1080p2500</video-mode>
	    <consumers>
		<ndi>
      		    <name>ComingHome_PGM</name>
		</ndi>
	    </consumers>
        </channel>
        <channel>
            <video-mode>1080p2500</video-mode>
            <consumers>
	    </consumers>
        </channel>
        <channel>
            <video-mode>1080p2500</video-mode>
            <consumers>
	    </consumers>
        </channel>
	<channel>
            <video-mode>1080p2500</video-mode>
            <consumers>
	    </consumers>
        </channel>
	<channel>
            <video-mode>1080p2500</video-mode>
            <consumers>
	    </consumers>
        </channel>
	<channel>
            <video-mode>1080p2500</video-mode>
            <consumers>
	    </consumers>
        </channel>
	<channel>
            <video-mode>1080p2500</video-mode>
            <consumers>
	    </consumers>
        </channel>
	   <channel>
            <video-mode>1080p2500</video-mode>
            <consumers>
	    </consumers>
        </channel>
        <channel>
            <video-mode>1080p2500</video-mode>
            <consumers>
	    </consumers>
        </channel>
	<channel>
            <video-mode>720p2500</video-mode>
            <consumers>
	    </consumers>
        </channel>
	<channel>
            <video-mode>1080p2500</video-mode>
            <consumers>
	    </consumers>
        </channel>
	<channel>
            <video-mode>1080p2500</video-mode>
            <consumers>
	    </consumers>
        </channel>
	<channel>
            <video-mode>1080p2500</video-mode>
            <consumers>
	    </consumers>
        </channel>
	   <channel>
            <video-mode>1080p2500</video-mode>
            <consumers>
	    </consumers>
        </channel>
        <channel>
            <video-mode>1080p2500</video-mode>
            <consumers>
	    </consumers>
        </channel>
	<channel>
            <video-mode>1080p2500</video-mode>
            <consumers>
	    </consumers>
        </channel>
	<channel>
            <video-mode>1080p2500</video-mode>
            <consumers>
	    </consumers>
        </channel>
	<channel>
            <video-mode>1080p2500</video-mode>
            <consumers>
	    </consumers>
        </channel>
	<channel>
            <video-mode>1080p2500</video-mode>
            <consumers>
	    </consumers>
        </channel>
	<channel>
            <video-mode>1080p2500</video-mode>
            <consumers>
	    </consumers>
        </channel>
    </channels>
    <controllers>
        <tcp>
            <port>5250</port>
            <protocol>AMCP</protocol>
        </tcp>
    </controllers>
    <amcp>
        <media-server>
            <host>localhost</host>
            <port>8000</port>
        </media-server>
    </amcp>
    <html>
        <enable-gpu>true</enable-gpu>
    </html>
    <osc>
        <predefined-clients>
            <predefined-client>
                 <address>127.0.0.1</address>
                 <port>5253</port>
            </predefined-client>
        </predefined-clients>
    </osc>
</configuration>


<html>
    <remote-debugging-port>0</remote-debugging-port>
    <enable-gpu>true</enable-gpu>
</html>
<ndi>
    <auto-load>true</auto-load>
</ndi>

<!--

<log-level>info</log-level>
<template-hosts>
    <template-host>
        <video-mode />
        <filename />
        <width />
        <height />
    </template-host>
</template-hosts>
<flash>
    <enabled>false</enabled>
    <buffer-depth>auto</buffer-depth>
</flash>
<ffmpeg>
    <producer>
        <auto-deinterlace>none</auto-deinterlace>
        <threads>4</threads>
    </producer>
</ffmpeg>
<html>
    <remote-debugging-port>0</remote-debugging-port>
    <enable-gpu>true</enable-gpu>
</html>
<ndi>
    <auto-load>true</auto-load>
</ndi>
<channels>
    <channel>
        <video-mode>1080p2500</video-mode>
        <consumers>
            <decklink>
                <device>1</device>
                <key-device>device + 1</key-device>
                <embedded-audio>false</embedded-audio>
                <latency>low</latency>
                <keyer>external</keyer>
                <key-only>false</key-only>
                <buffer-depth>3</buffer-depth>
            </decklink>
            <system-audio>
                <channel-layout>stereo</channel-layout>
                <latency>200</latency>
            </system-audio>
            <screen>
                <device>1</device>
                <aspect-ratio>16:9</aspect-ratio>
                <stretch>uniform</stretch>
                <windowed>false</windowed>
                <key-only>false</key-only>
                <vsync>false</vsync>
                <borderless>true</borderless>
                <interactive>true</interactive>
                <always-on-top>false</always-on-top>
                <x>0</x>
                <y>0</y>
                <width>0</width>
                <height>0</height>
                <sbs-key>false</sbs-key>
                <colour-space>datavideo-limited</colour-space>
            </screen>
            <newtek-ivga></newtek-ivga>
            <ndi>
                <name>NDI Out</name>
                <allow-fields>false</allow-fields>
            </ndi>
            <ffmpeg>
                <path>[file|url]</path>
                <args>[most ffmpeg arguments related to filtering and output codecs]</args>
            </ffmpeg>
        </consumers>
    </channel>
</channels>
<osc>
  <default-port>6250</default-port>
  <disable-send-to-amcp-clients>false</disable-send-to-amcp-clients>
  <predefined-clients>
    <predefined-client>
      <address>127.0.0.1</address>
      <port>5253</port>
    </predefined-client>
  </predefined-clients>
</osc>
-->
